.play-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.play-triangle {
  fill: none;
  stroke: white;
  stroke-width: 4;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* Fundo branco atrás do play vazado no hover */
.video-frame:hover .play-triangle {
  fill: white; /* Preenchimento branco */
  transform: scale(1.1);
}