/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  color: #fff; /* deixa o texto branco por padrão */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.app-shell {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1 0 auto;
}
